@charset "UTF-8";
ul.MenuBarHorizontal
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;
}
ul.MenuBarActive
{
	z-index: 1000;
}
ul.MenuBarHorizontal li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 8em;
	float: left;
}

ul.MenuBarHorizontal ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	width: 8.2em;
	position: absolute;
	left: -1000em;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
	left: auto;
}

ul.MenuBarHorizontal ul li
{
	width: 8.2em;
}

ul.MenuBarHorizontal ul ul
{
	position: absolute;
	margin: -5% 0 0 95%;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	left: auto;
	top: 0;
}


ul.MenuBarHorizontal ul
{
	border: 1px solid #CCC;
}

ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	padding-top:10px;
	padding-bottom:10px;
	color: #FAFAFA;
	font-weight:bold;
	text-decoration: none;
	text-align:center;
}

ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
	background-color: #009164;
	color: #FFF;
	font-weight: bold;
	font-size:16px;
}

@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		float: left;
		background: #FFF;
	}
}
li .rov {
	display: none;
}

li:hover .rov, .active .rov {
	display: block;
	position: absolute;
	background-color: rgba(0,174,116,0.7);
	/* background-color: #009164; */
	color: #FFF;
	font-weight: bold;
	margin: auto;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	float: right;
	left: 0px;
	top: 45px;
}

li .rov2 {
	display: none;
}

li:hover .rov2, .active .rov2 {
	display: block;
	position: absolute;
	background-color: rgba(0,174,116,0.7);
	/* background-color: #009164; */
	color: #FFF;
	font-weight: bold;
	margin: auto;
	width:500%;
	padding-top:1px;
	padding-bottom:1px;
	float: left;
	left: -400%;
}
/*------------------------------*/
@charset "UTF-8";
ul.MenuBarHorizontal2
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;
}
ul.MenuBarActive
{
	z-index: 1000;
}
ul.MenuBarHorizontal2 li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 100%;
	float: left;
}

ul.MenuBarHorizontal2 ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	width: 8.2em;
	position: absolute;
	left: -1000em;
}

ul.MenuBarHorizontal2 ul.MenuBarSubmenuVisible
{
	left: auto;
}

ul.MenuBarHorizontal2 ul li
{
	width: 8.2em;
}

ul.MenuBarHorizontal2 ul ul
{
	position: absolute;
	margin: -5% 0 0 95%;
}

ul.MenuBarHorizontal2 ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	left: auto;
	top: 0;
}


ul.MenuBarHorizontal2 ul
{
	border: 1px solid #CCC;
}

ul.MenuBarHorizontal2 a
{
	display: block;
	cursor: pointer;
/*	background-color: #EEE;*/
	/*padding: 0.5em 0.75em;*/
	color: #FAFAFA;
	font-weight:bold;
	text-decoration: none;
	text-align:left;
}

ul.MenuBarHorizontal2 a:hover, ul.MenuBarHorizontal2 a:focus
{
	background-color: #009164;
	color: #FFF;
	font-weight:bold;
	font-size:16px;
}

@media screen, projection
{
	ul.MenuBarHorizontal2 li.MenuBarItemIE
	{
		display: inline;
		float: left;
		background: #FFF;
	}
}
li .muncul {
	display: none;
}

li:hover .muncul, .active .muncul {
	display: block;
	position: absolute;
	background-color: rgba(0,174,116,0.7);
	color: #FFF;
	font-weight: bold;
	margin: auto;
	width:400px;
	padding-top:1px;
	padding-bottom:2px;
	float: right;
	left: 0px;
	top: 44px;
	height:inherit;
}
/*-------------------------------*/
